<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">
    
    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %5p [%c] %m%n" />
        </layout>   
    </appender>

<!-- File -->
<!--
<appender name="file" class="org.apache.log4j.DailyRollingFileAppender">
   <layout class="org.apache.log4j.PatternLayout">
        <param name="ConversionPattern" value="%d %5p %c{1} - %m%n" />
	<param name="DatePattern" value=".yyyyMMdd" />
	<param name="File" value="${jboss.server.log.dir}/whitelife.log" />
	<param name="Append" value="true" />
   </layout>
</appender>
-->	
  <appender name="file" class="org.apache.log4j.DailyRollingFileAppender">
         <param name="DatePattern" value="'.'yyyy-MM-dd"/>
     <param name="File" value="${jboss.server.log.dir}/MyAppLogsFile.log" />
     <param name="Append" value="false"/>
         <layout class="org.apache.log4j.PatternLayout">
         <param name="ConversionPattern" value="%d [%t] %p - %m%n"/>
     </layout>
  </appender>
 

	<logger name="java.sql" additivity="false">
    	<level value="DEBUG"/>
<!--        <appender-ref ref="console"/>-->
        <appender-ref ref="file"/>
    </logger>
    
    <logger name="egovframework" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="console"/>
    </logger>

	<!-- log SQL with timing information, post execution -->
	<logger name="jdbc.sqltiming" additivity="false">
		<level value="DEBUG" />
<!--		<appender-ref ref="console" />-->
		<appender-ref ref="file" />
	</logger>
	
	<logger name="org.springframework" additivity="false">
		<level value="INFO" />
		<appender-ref ref="console" />
	</logger>
	
	<root>
		<level value="DEBUG" />
<!--		<appender-ref ref="console" />-->
		<appender-ref ref="file" />
	</root>
	                   
</log4j:configuration>
